In [1]:
import numpy as np 
import pandas as pd 
df=pd.read_csv('Iris_Data.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [2]:
df[0:10]

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [3]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [4]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
#implement student record operation CRUD using nested dictionaries
student_records = {}

# Function to add a new student
def add_student():
    student_id = input("Enter Student ID: ")
    # Check if student ID already exists
    if student_id in student_records:
        print("Student ID already exists.")
        return
    # Collect student details
    name = input("Enter Name: ")
    age = input("Enter Age: ")
    grade = input("Enter Grade: ")
    # Add student to the dictionary
    student_records[student_id] = {
        'name': name,
        'age': age,
        'grade': grade
    }
    print("Student added successfully.\n")

# Function to view all student records
def view_all_students():
    # Check if there are any records
    if not student_records:
        print("No student records found.\n")
        return
    print("\n--- All Student Records ---")
    # Loop through each student and print their details
    for sid, info in student_records.items():
        print(f"ID: {sid}, Name: {info['name']}, Age: {info['age']}, Grade: {info['grade']}")
    print()

# Function to search for a student by ID
def search_student():
    student_id = input("Enter Student ID to search: ")
    # Retrieve student record using get()
    student = student_records.get(student_id)
    if student:
        print(f"ID: {student_id}, Name: {student['name']}, Age: {student['age']}, Grade: {student['grade']}\n")
    else:
        print("Student not found.\n")

# Function to update an existing student record
def update_student():
    student_id = input("Enter Student ID to update: ")
    # Check if student exists
    if student_id not in student_records:
        print("Student not found.\n")
        return
    # Ask for new values; leave blank to keep current
    name = input("Enter new Name (leave blank to keep current): ")
    age = input("Enter new Age (leave blank to keep current): ")
    grade = input("Enter new Grade (leave blank to keep current): ")

    # Update only the fields that are provided
    if name:
        student_records[student_id]['name'] = name
    if age:
        student_records[student_id]['age'] = age
    if grade:
        student_records[student_id]['grade'] = grade
    print("Student record updated.\n")

# Function to delete a student record
def delete_student():
    student_id = input("Enter Student ID to delete: ")
    # Check if student exists
    if student_id in student_records:
        del student_records[student_id]  
        print("Student record deleted.\n")
    else:
        print("Student not found.\n")

def main():
    while True:
        # Display menu options
        print("------ Student Management System ------")
        print("1. Add Student Record")
        print("2. View All Students")
        print("3. Search Student by ID")
        print("4. Update Student Record")
        print("5. Delete Student Record")
        print("6. Exit")
        choice = input("Enter your choice (1-6): ")

        # Call appropriate function based on user input
        if choice == '1':
            add_student()
        elif choice == '2':
            view_all_students()
        elif choice == '3':
            search_student()
        elif choice == '4':
            update_student()
        elif choice == '5':
            delete_student()
        elif choice == '6':
            print("Exiting Student Management System. Goodbye!")
            break
        else:
            print("Invalid choice. Please try again.\n")

# Run the program
if _name_ == "_main_":
    main()

NameError: name '_name_' is not defined

In [7]:
#implement student record operation CRUD using nested dictionaries
student_records = {}

# Function to add a new student
def add_student():
    student_id = input("Enter Student ID: ")
    # Check if student ID already exists
    if student_id in student_records:
        print("Student ID already exists.")
        return
    # Collect student details
    name = input("Enter Name: ")
    age = input("Enter Age: ")
    grade = input("Enter Grade: ")
    # Add student to the dictionary
    student_records[student_id] = {
        'name': name,
        'age': age,
        'grade': grade
    }
    print("Student added successfully.\n")

# Function to view all student records
def view_all_students():
    # Check if there are any records
    if not student_records:
        print("No student records found.\n")
        return
    print("\n--- All Student Records ---")
    # Loop through each student and print their details
    for sid, info in student_records.items():
        print(f"ID: {sid}, Name: {info['name']}, Age: {info['age']}, Grade: {info['grade']}")
    print()

# Function to search for a student by ID
def search_student():
    student_id = input("Enter Student ID to search: ")
    # Retrieve student record using get()
    student = student_records.get(student_id)
    if student:
        print(f"ID: {student_id}, Name: {student['name']}, Age: {student['age']}, Grade: {student['grade']}\n")
    else:
        print("Student not found.\n")

# Function to update an existing student record
def update_student():
    student_id = input("Enter Student ID to update: ")
    # Check if student exists
    if student_id not in student_records:
        print("Student not found.\n")
        return
    # Ask for new values; leave blank to keep current
    name = input("Enter new Name (leave blank to keep current): ")
    age = input("Enter new Age (leave blank to keep current): ")
    grade = input("Enter new Grade (leave blank to keep current): ")

    # Update only the fields that are provided
    if name:
        student_records[student_id]['name'] = name
    if age:
        student_records[student_id]['age'] = age
    if grade:
        student_records[student_id]['grade'] = grade
    print("Student record updated.\n")

# Function to delete a student record
def delete_student():
    student_id = input("Enter Student ID to delete: ")
    # Check if student exists
    if student_id in student_records:
        del student_records[student_id]  
        print("Student record deleted.\n")
    else:
        print("Student not found.\n")

def main():
    while True:
        # Display menu options
        print("------ Student Management System ------")
        print("1. Add Student Record")
        print("2. View All Students")
        print("3. Search Student by ID")
        print("4. Update Student Record")
        print("5. Delete Student Record")
        print("6. Exit")
        choice = input("Enter your choice (1-6): ")

        # Call appropriate function based on user input
        if choice == '1':
            add_student()
        elif choice == '2':
            view_all_students()
        elif choice == '3':
            search_student()
        elif choice == '4':
            update_student()
        elif choice == '5':
            delete_student()
        elif choice == '6':
            print("Exiting Student Management System. Goodbye!")
            break
        else:
            print("Invalid choice. Please try again.\n")
# Run the program
if __name__ == "__main__":
    main()

------ Student Management System ------
1. Add Student Record
2. View All Students
3. Search Student by ID
4. Update Student Record
5. Delete Student Record
6. Exit
Exiting Student Management System. Goodbye!

In [4]:
df.info()

NameError: name 'df' is not defined

In [9]:
df.isnull().sum()

NameError: name 'df' is not defined

In [ ]:
df_e.isnull().sum() #need to make changes in iris data csv file and upload

NameError: name 'df_e' is not defined

In [5]:
df.tail()

NameError: name 'df' is not defined

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
"