In [2]:
first_name='chandana'
last_name=' G N'
print(first_name+''+last_name)

chandana G N

In [3]:
print('Hi '+first_name)

Hi chandana

In [4]:
import pandas as pd
df=pd.read_csv('Employee.csv')
print(df.head())

   Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
0  Bachelors         2017  Bangalore            3   34    Male          No
1  Bachelors         2013       Pune            1   28  Female          No
2  Bachelors         2014  New Delhi            3   38  Female          No
3    Masters         2016  Bangalore            3   27    Male          No
4    Masters         2017       Pune            3   24    Male         Yes

   ExperienceInCurrentDomain  LeaveOrNot
0                          0           0
1                          3           1
2                          2           0
3                          5           1
4                          2           1

In [6]:
import pandas as pd
df=pd.read_csv('Employee.csv')
print(df.head())
print(df.shape)

   Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
0  Bachelors         2017  Bangalore            3   34    Male          No
1  Bachelors         2013       Pune            1   28  Female          No
2  Bachelors         2014  New Delhi            3   38  Female          No
3    Masters         2016  Bangalore            3   27    Male          No
4    Masters         2017       Pune            3   24    Male         Yes

   ExperienceInCurrentDomain  LeaveOrNot
0                          0           0
1                          3           1
2                          2           0
3                          5           1
4                          2           1
(4653, 9)

In [7]:
import pandas as pd
df=pd.read_csv('Employee.csv')
print(df.head())
print(df.shape)
print(df.iloc[10:20,:])

   Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
0  Bachelors         2017  Bangalore            3   34    Male          No
1  Bachelors         2013       Pune            1   28  Female          No
2  Bachelors         2014  New Delhi            3   38  Female          No
3    Masters         2016  Bangalore            3   27    Male          No
4    Masters         2017       Pune            3   24    Male         Yes

   ExperienceInCurrentDomain  LeaveOrNot
0                          0           0
1                          3           1
2                          2           0
3                          5           1
4                          2           1
(4653, 9)
    Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
10    Masters         2012  Bangalore            3   27    Male          No
11  Bachelors         2016       Pune            3   34    Male          No
12  Bachelors         2018       Pune            3   32    Male         Yes
13  Bachelors         2016  Bangalore            3   39    Male          No
14  Bachelors         2012  Bangalore            3   37    Male          No
15  Bachelors         2017  Bangalore            1   29    Male          No
16  Bachelors         2014  Bangalore            3   34  Female          No
17  Bachelors         2014       Pune            3   34    Male          No
18  Bachelors         2015       Pune            2   30  Female          No
19  Bachelors         2016  New Delhi            2   22  Female          No

    ExperienceInCurrentDomain  LeaveOrNot
10                          5           1
11                          3           0
12                          5           1
13                          2           0
14                          4           0
15                          3           0
16                          2           0
17                          4           0
18                          0           1
19                          0           1

In [8]:
import pandas as pd
df=pd.read_csv('Employee.csv')
print(df.head())
print(df.shape)
print(df.iloc[10:20,:])
print(df.dtypes)

   Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
0  Bachelors         2017  Bangalore            3   34    Male          No
1  Bachelors         2013       Pune            1   28  Female          No
2  Bachelors         2014  New Delhi            3   38  Female          No
3    Masters         2016  Bangalore            3   27    Male          No
4    Masters         2017       Pune            3   24    Male         Yes

   ExperienceInCurrentDomain  LeaveOrNot
0                          0           0
1                          3           1
2                          2           0
3                          5           1
4                          2           1
(4653, 9)
    Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
10    Masters         2012  Bangalore            3   27    Male          No
11  Bachelors         2016       Pune            3   34    Male          No
12  Bachelors         2018       Pune            3   32    Male         Yes
13  Bachelors         2016  Bangalore            3   39    Male          No
14  Bachelors         2012  Bangalore            3   37    Male          No
15  Bachelors         2017  Bangalore            1   29    Male          No
16  Bachelors         2014  Bangalore            3   34  Female          No
17  Bachelors         2014       Pune            3   34    Male          No
18  Bachelors         2015       Pune            2   30  Female          No
19  Bachelors         2016  New Delhi            2   22  Female          No

    ExperienceInCurrentDomain  LeaveOrNot
10                          5           1
11                          3           0
12                          5           1
13                          2           0
14                          4           0
15                          3           0
16                          2           0
17                          4           0
18                          0           1
19                          0           1
Education                    object
JoiningYear                   int64
City                         object
PaymentTier                   int64
Age                           int64
Gender                       object
EverBenched                  object
ExperienceInCurrentDomain     int64
LeaveOrNot                    int64
dtype: object

In [9]:
print(df.dtypes)

Education                    object
JoiningYear                   int64
City                         object
PaymentTier                   int64
Age                           int64
Gender                       object
EverBenched                  object
ExperienceInCurrentDomain     int64
LeaveOrNot                    int64
dtype: object

In [10]:
print(df.iloc[10:20,:])

    Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
10    Masters         2012  Bangalore            3   27    Male          No
11  Bachelors         2016       Pune            3   34    Male          No
12  Bachelors         2018       Pune            3   32    Male         Yes
13  Bachelors         2016  Bangalore            3   39    Male          No
14  Bachelors         2012  Bangalore            3   37    Male          No
15  Bachelors         2017  Bangalore            1   29    Male          No
16  Bachelors         2014  Bangalore            3   34  Female          No
17  Bachelors         2014       Pune            3   34    Male          No
18  Bachelors         2015       Pune            2   30  Female          No
19  Bachelors         2016  New Delhi            2   22  Female          No

    ExperienceInCurrentDomain  LeaveOrNot
10                          5           1
11                          3           0
12                          5           1
13                          2           0
14                          4           0
15                          3           0
16                          2           0
17                          4           0
18                          0           1
19                          0           1

In [ ]:
print(df.iloc[10:20,:])

    Education  Age       City
10    Masters   27  Bangalore
11  Bachelors   34       Pune
12  Bachelors   32       Pune
13  Bachelors   39  Bangalore
14  Bachelors   37  Bangalore
15  Bachelors   29  Bangalore
16  Bachelors   34  Bangalore
17  Bachelors   34       Pune
18  Bachelors   30       Pune
19  Bachelors   22  New Delhi
20  Bachelors   37  Bangalore

In [32]:
df[df['City']=='Bangalore']

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
5,Bachelors,2016,Bangalore,3,22,Male,No,0,0
7,Bachelors,2016,Bangalore,3,34,Female,No,2,1
10,Masters,2012,Bangalore,3,27,Male,No,5,1
...,...,...,...,...,...,...,...,...,...
4643,Bachelors,2013,Bangalore,3,31,Female,No,5,0
4646,Bachelors,2013,Bangalore,3,25,Female,No,3,0
4648,Bachelors,2013,Bangalore,3,26,Female,No,4,0
4651,Bachelors,2012,Bangalore,3,30,Male,Yes,2,0
4652,Bachelors,2015,Bangalore,3,33,Male,Yes,4,0

In [31]:
blr_df=df[df['City']=='Bangalore']
print(blr_df.head())
blr_df.to_csv('blr.csv')

    Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
0   Bachelors         2017  Bangalore            3   34    Male          No
3     Masters         2016  Bangalore            3   27    Male          No
5   Bachelors         2016  Bangalore            3   22    Male          No
7   Bachelors         2016  Bangalore            3   34  Female          No
10    Masters         2012  Bangalore            3   27    Male          No

    ExperienceInCurrentDomain  LeaveOrNot
0                           0           0
3                           5           1
5                           0           0
7                           2           1
10                          5           1

In [34]:
blr_aunty_df=df[(df['City']=='Bangalore')&(df['Age']>30)&(df['Gender']=='Female')]
print(blr_aunty_df.head())
print(blr_aunty_df.shape)
blr_aunty_df.to_csv('blr_aunty.csv')

    Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
7   Bachelors         2016  Bangalore            3   34  Female          No
16  Bachelors         2014  Bangalore            3   34  Female          No
52  Bachelors         2016  Bangalore            3   34  Female          No
53  Bachelors         2014  Bangalore            3   31  Female         Yes
69    Masters         2017  Bangalore            3   40  Female          No

    ExperienceInCurrentDomain  LeaveOrNot
7                           2           1
16                          2           0
52                          0           0
53                          5           0
69                          2           1
(222, 9)

In [35]:
blr_uncle_df=df[(df['City']=='Bangalore')&(df['Age']>30)&(df['Gender']=='Male')]
print(blr_uncle_df.head())
print(blr_uncle_df.shape)
blr_uncle_df.to_csv('blr_uncle.csv')

    Education  JoiningYear       City  PaymentTier  Age Gender EverBenched  \
0   Bachelors         2017  Bangalore            3   34   Male          No
13  Bachelors         2016  Bangalore            3   39   Male          No
14  Bachelors         2012  Bangalore            3   37   Male          No
20  Bachelors         2012  Bangalore            3   37   Male          No
26  Bachelors         2016  Bangalore            3   37   Male          No

    ExperienceInCurrentDomain  LeaveOrNot
0                           0           0
13                          2           0
14                          4           0
20                          0           0
26                          2           0
(493, 9)